<div class="row">
  <div class="span6">
    <%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }, html: {class: "well"}) do |f| %>
      <%= devise_error_messages! %>
      <fieldset>
        <legend>Edit Account Info</legend>
      <%= f.input :email %>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>

      <%= f.input :password %><i>(leave blank if you don't want to change it)</i>

      <%= f.input :password_confirmation %>

       <% f.input :password_current %><i>(we need your current password to confirm your changes)</i>

      <div><%= f.button :submit, "Update" %></div>
    <% end %>
  </fieldset>
  <fieldset>
    <legend>Cancel my account</legend>
   

    <p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), :data => { :confirm => "Are you sure?" }, :method => :delete %></p>

    <%= link_to "Back", :back %>
  </div>
</div>
